{% extends 'admin/change_list.html' %}

{% block extrahead %}
    {{ block.super }}
    {% if warning_message %}
    <style>
        .warning-message {
            background-color: #ffc107;
            color: #333;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    {% endif %}
{% endblock %}

{% block content %}
        {% if change_list_url %}
        <div class="warning-message">
            <p>¡Advertencia! Estás modificando el campo "aumentos_indice". Asegúrate de actualizar también el campo "aumentos_mensual_actualizado".</p>
            <p><a href="{{ change_list_url }}">Continuar con la edición</a></p>
        </div>
        {% endif %}
    {{ block.super }}
{% endblock %}

<!-- para personalizar la vista de LISTA DE INSTANCIAS de la clase 
    Aquí es donde puedes agregar el mensaje de advertencia que se mostrará 
    en cada instancia que se va a modificar.-->
